{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/session.css' %}">

</head>

<body>
<!-- Logout Button -->
<div class = "login-header" style="float:right"> Hi, {{name}}!   <a href="/takai/logout/">Logout</a> </div>
<!-- Takai Header -->
<div class="page-header">
    <h1><a href="/takai/">TAkai</a> {{ semester }} {{ year }} </li>
</div>
<div class="page-content">

<h3> Search for TAs</h3>
<form id="searchform" method="post">
    {% csrf_token %}
     Available <select name= "availability">
       <option value="anyavail">any time</option>
       {% for availability in availabilities %}
          <option value={{availability.code}}>{{availability}}</option>
       {% endfor %}
    </select>
    and <select name = "interest">
      <option value="anyinterest">having any interest</option>
      {% for interest in interests %}
          <option value={{interest.code}}>{{interest}}</option>
      {% endfor %}
      </select>
      in mentoring for <select name = "session">
      {% for session in sessions %}
          <option value={{session.id}}>{{session}}</option>
      {% endfor %}
      </select>
    <input type="submit" value="Search">
    </form>
</div>
</body>
</html>
