{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/semester.css' %}">
</head>

<body>
  <div class = "login-header" style="float:right"> Hi, {{name}}!   <a href="/takai/logout/">Logout</a> </div>

  <div class="page-header">
      <h1><a href="/takai/">TAkai</a></li>
  </div>

  <h1> TA Application </h1>

<p>
    <form method="post" action="">
    {% csrf_token %}
    {{ formset1.management_form }}
    {% for form in formset1 %}
      <ul>
        <li>{{form.student.label_tag}} {{form.student}}</li>
        <li>{{form.semester.label_tag}} {{form.semester}}</li>
        <li>{{form.year.label_tag}} {{form.year}}</li>
        <li>{{form.school.label_tag}} {{form.school}}</li>
        <li>{{form.major.label_tag}} {{form.major}}</li>
        <li>{{form.qualities.label_tag}} {{form.qualities}}</li>
        <li>{{form.num_hours_week.label_tag}} {{form.num_hours_week}}</li>
        <li>{{form.lab_availability.label_tag}} {{form.lab_availability}}</li>
      </ul>
        <!-- {% for field in form %}
            {{ field.label_tag }} {{ field }}<br/>
        {% endfor %} -->
    {% endfor %}
    {{ formset2.management_form }}
    {% for form in formset2 %}
      <ul>
        <li>{{form.session.label_tag}} {{form.session}}</li>
        <li>{{form.interestcode.label_tag}} {{form.interestcode}}
      </ul>
        <!-- {% for field in form %}
            {{ field.label_tag }} {{ field }}<br/>
        {% endfor %} -->
    {% endfor %}
    {{ formset3.management_form }}
    {% for form in formset3 %}
        {% for field in form %}
            {{ field.label_tag }} {{ field }}<br/>
        {% endfor %}
    {% endfor %}
    <input type="submit" value="Submit" />
    </form>

</p>
</body>

</html>
