{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/session.css' %}">

</head>

<body>
	<!-- Logout Button -->
	<div class = "login-header" style="float:right"> Hi, {{name}}!   <a href="/takai/logout/">Logout</a> </div>
	<!-- Takai Header -->
	<div class="page-header">
    	<h1><a href="/takai/">TAkai</a> {{ semester }} {{ year }} </li>
	</div>

	<div class="page-content">

<h2>{{some_ta.name}}</h2>

<ul>
	<li>Graduation Year: {{ some_ta.gradyear }}</li>
  <li>Email: <a href="mailto:{{ some_ta.email }}">{{ some_ta.email }}</a></li>
</ul>

All applications
<ul>
	{% for app in apps %}
	<li> Application </li>
		<ul>
			<li> {{app.semester}} {{app.year}} </li>
			<li> School: {{app.school}}
			<li> Major: {{app.major}} </li>
			<li> Qualities: {{app.qualities}} </li>
			<li> Number of hours available per week: {{app.num_hours_week}} </li>
		</ul>
	{% endfor %}
</ul>
<ul>
	<li> Availabilities: </li>
	<ul>
	{% for avail in avails %}
		<li> {{avail}} </li>
	{% endfor %}
</ul>
</ul>
<ul>
	<li> Interests: </li>
	<ul>
	{% for interest in interests %}
		<li> {{interest}} </li>
	{% endfor %}
</ul>
</ul>


</div>
</body>
