{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/session.css' %}">

</head>
<body>
<div class = "login-header" style="float:right"> Hi, {{name}}!   <a href="/takai/logout/">Logout</a> </div>

<div class="page-header">
    <h1><a href="/takai/">TAkai</a> </li>
</div>

<div class="page-content">

<h2>Search Results</h2>

<ul>
  {% for student in results %}
    {% for thing in student %}
  <li><a href="/takai/{{thing.sid}}">{{thing.name}}</li>
    {% endfor %}
   {% endfor %}
</ul>

</div>
</body>
</html>
