<!DOCTYPE html>
<html>
<head>
	<style>
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: right;
    font-size: 16px;
    cursor: pointer;    
}
.button:hover {
    background: green;
}
.form{
    display: inline;
}

</style>

</head>

<body>

<div style="float:right"> <a href="/takai/logout/">Logout</a> </div>

<h1><a href="/takai/">TAkai</a></li>
<h2>{{semester}} {{year}} Courses</h2>


{% if current_classes %}
    <ul>
    {% for classes in current_classes %}
        <li><a href="/takai/{{year}}{{semester}}/{{classes.theclass.cid}}">CS{{ classes.theclass.cid }}: {{classes.theclass.name}} </a>
            <form class = "form" action="/takai/{{year}}{{semester}}/{{classes.theclass.cid}}/enroll/" method="post">
                {% csrf_token %}
                <input type="submit" value="Enroll">
            </form>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No classes are available.</p>
{% endif %}


</body>
</html>
