{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/session.css' %}">

</head>

<body>
<!-- Logout Button -->
<div class = "login-header" style="float:right"> Hi, {{name}}!   <a href="/takai/logout/">Logout</a> </div>
<!-- Takai Header -->
<div class="page-header">
    <h1><a href="/takai/">TAkai</a> {{ semester }} {{ year }} </li>
</div>
<div class="page-content">
<h4><a href="/takai/{{year}}{{semester}}/search"> Search for TAs </a></h4>

<!-- ie Spring 2018 Courses -->
<h2>{{semester}} {{year}} Courses</h2>

<h3>My Courses</h3>
{% if my_classes %}
    <ul>
    {% for classes in my_classes %}
        <li><a href="/takai/{{year}}{{semester}}/{{classes.theclass.cid}}">CS{{ classes.theclass.cid }}: {{classes.theclass.name}} </a>
            <form class = "form" method="get">
                {% csrf_token %}
                <input type="button" disabled="True" value="Teaching">
            </form>
            <form class = "form" action="/takai/{{year}}{{semester}}/{{classes.theclass.cid}}/unteach/" method="post">
                {% csrf_token %}
                <input type="submit" value="Unteach">
            </form>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <ul><li>Not currently teaching any courses</li></ul>
{% endif %}

<h3>Other Courses</h3>
<!-- lists courses available that semester -->
{% if other_classes %}
    <ul>
    {% for classes in other_classes %}
        <li><a href="/takai/{{year}}{{semester}}/{{classes.theclass.cid}}">CS{{ classes.theclass.cid }}: {{classes.theclass.name}} </a>
            <form class = "form" action="/takai/{{year}}{{semester}}/{{classes.theclass.cid}}/teach/" method="post">
                {% csrf_token %}
                <input type="submit" value="Teach">
            </form>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No classes are available.</p>
{% endif %}
</div>
</body>
</html>
