<!DOCTYPE html>
<html>
<head>
  <!--link rel="stylesheet" type="text/css" href="session.css"> < doesn't work -->
</head>

<body>
<div style="float:right"> <a href="/takai/logout/">Logout</a> </div>

<h1><a href="/takai/">TAkai</a></li>
<h2> {{ semester }} {{ year }} </h2>
<h2>CS{{some_class.cid}}: {{ some_class.name }} </h2>

<ul>
{% for session in some_class.session_set.all %}
    <li>Lectures: {{ session.times }}</li>
    <li>Classroom: {{ session.classroom }}</li>
    <!-- TODO: get rid of comma after last one // replaced it with line break -->
    <li>Professor(s):
        {% for prof in profs %}
            {{prof.professor.name}} <br/>
        {% endfor %}
    </li>
    <!-- TODO: get rid of comma after last one // replaced it with line break-->
    <li>Office Hours:
        {% for prof in profs %}
            {{prof.professor.officehours}} <br/>
        {% endfor %}
    </li>
    <li>Mentor Sessions:
        <ul>
        {% for mentorsesh in mentorsessions %}
            <li>{{mentorsesh.mentorsesh.day}}, {{mentorsesh.mentorsesh.time}}, {{mentorsesh.mentorsesh.location}}, {{mentorsesh.student.name}} </li>
        {% endfor %}
        </ul>
    </li>
    <!-- TODO: get rid of L suffix on id numbers (ie 23456789L) and change hardcoded id -->
    <li>TAs:
        <ul>
        {% for ta in tas %}
            <li><a href="/takai/{{ta.ta.student.sid}}"> {{ta.ta.student.name}}</a>: {{ta.ta.bio}} </li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>

<form action="{% url 'session-prof' year semester some_class.cid %}" method="post">
	{% csrf_token %}
    <label for="student_name_form">Enter student name: </label>
    <input id="student_name_form" type="text" name="student_name_field" value="">
    <input type="submit" value="Assign TA">
</form>

<link rel="stylesheet" type="text/css" href="mystyle.css">

</body>
</html>
