{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/session.css' %}">

</head>
<body>
<div class = "login-header" style="float:right"> Hi, {{name}}!   <a href="/takai/logout/">Logout</a> </div>

<div class="page-header">
    <h1><a href="/takai/">TAkai</a> {{ semester }} {{ year }} </li>
</div>

<div class="page-content">
<h2>CS{{some_class.cid}}: {{ some_class.name }} </h2>
<ul>
    <li>Lectures: {{ some_session.times }}</li>
    <li>Classroom: {{ some_session.classroom }}</li>
    <li>Professor(s):
        {% for prof in profs %}
            {{prof.professor.name}} <br/>
        {% endfor %}
    </li>
    <li>Office Hours:
        {% for prof in profs %}
            {{prof.professor.officehours}} <br/>
        {% endfor %}
    </li>
    <li>Mentor Sessions:
      <div class = "edit-pages" id="add_ms" style='display:none'> <a href="{% url 'session-mentor-add' year semester some_class.cid some_session.pk %}">Add a Mentor Session </a> </div>
        <ul>
        {% for mentorsesh in mentorsessions %}
            {% if mentorsesh.ta.student.email == user.email %}
                <div class = "edit-pages" id="edit_ms" style="float:right"> <a href="{% url 'session-mentor-edit' year semester some_class.cid mentorsesh.mentorsesh.pk %}">Edit Mentor Session</a> </div>
            {% endif %}
            <li>{{mentorsesh.mentorsesh.day}}, {{mentorsesh.mentorsesh.time}}, {{mentorsesh.mentorsesh.location}}, {{mentorsesh.ta.student.name}} </li>
        {% endfor %}
        </ul>
    </li>
    <li>TAs:
        <ul>
        {% for ta in tas %}
            <div class = "edit-pages" id="edit_ta" style='display:none'> <a href="{% url 'ta-edit' year semester some_class.cid ta.ta.pk %}">Edit TA Information </a> </div>
            <script type="text/javascript">
                if (window.document.readyState = "complete"){
                    var TA_email = "{{ta.ta.student.email}}"
                    var USER_email = "{{user.email}}"
                    var ta_link = document.getElementById("edit_ta");
                    var add_ms = document.getElementById("add_ms");
                    if (TA_email == USER_email) {
                        ta_link.style.visibility = 'visible';
                        ta_link.style.display = 'inline';
                        ta_link.style.cssFloat='right';
                        add_ms.style.visibility = 'visible';
                        add_ms.style.display = 'inline';
                        add_ms.style.cssFloat='right';
                    }
                }
            </script>
            <li>{{ta.ta.student.name}}</a>: {{ta.ta.bio}} </li>
        {% endfor %}
        </ul>
    </li>
</ul>
</div>

</body>
</html>
