body {
    background-color: white;
}

h1 a{
    color: white;
    padding: 20px;
    font-size: 50px;
}

h2 {
    padding-left: 20px;
}

h3 {
    padding-left: 20px;
}

h4 {
    padding-left: 20px;
}

.page-header {
    background-color: lightsteelblue;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 50px;
    color: white;

}

.login-header {
    padding-right: 20px;
    padding-top: 20px;
}

.edit-pages {
    padding-right: 20px;
}

.page-content{
    padding-left: 20px;
}
