body {
    background-color: white;
    white-space: nowrap;
    overflow: hidden;
}

h1 {
    color: white;
    padding: 20px;
    font-size: 50px;
}

.page-header {
    background-color: lightsteelblue;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 50px;
    color: white;
}

.login-header {
	padding-right: 20px;
	padding-top: 20px;
}

.edit-pages {
	padding-right: 600px;
}

.page-content{
	padding-left: 20px;
}
